Exercises: Day 25

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('hacker_news.csv')

In [3]:
df.head()

,id,title,url,num_points,num_comments,author,created_at
0,12224879,Interactive Dynamic Video,http://www.interactivedynamicvideo.com/,386,52,ne0phyte,8/4/2016 11:52
1,11964716,Florida DJs May Face Felony for April Fools' W...,http://www.thewire.com/entertainment/2013/04/f...,2,1,vezycash,6/23/2016 22:20
2,11919867,Technology ventures: From Idea to Enterprise,https://www.amazon.com/Technology-Ventures-Ent...,3,1,hswarna,6/17/2016 0:01
3,10301696,Note by Note: The Making of Steinway L1037 (2007),http://www.nytimes.com/2007/11/07/movies/07ste...,8,2,walterbell,9/30/2015 4:12
4,10482257,Title II kills investment? Comcast and other I...,http://arstechnica.com/business/2015/10/comcas...,53,22,Deinos,10/31/2015 9:48

In [4]:
df.tail()

,id,title,url,num_points,num_comments,author,created_at
20094,12379592,How Purism Avoids Intels Active Management Tec...,https://puri.sm/philosophy/how-purism-avoids-i...,10,6,AdmiralAsshat,8/29/2016 2:22
20095,10339284,YC Application Translated and Broken Down,https://medium.com/@zreitano/the-yc-applicatio...,4,1,zreitano,10/6/2015 14:57
20096,10824382,Microkernels are slow and Elvis didn't do no d...,http://blog.darknedgy.net/technology/2016/01/0...,169,132,vezzy-fnord,1/2/2016 0:49
20097,10739875,How Product Hunt really works,https://medium.com/@benjiwheeler/how-product-h...,695,222,brw12,12/15/2015 19:32
20098,11680777,RoboBrowser: Your friendly neighborhood web sc...,https://github.com/jmcarp/robobrowser,182,58,pmoriarty,5/12/2016 1:43

In [19]:
pd.Series(df.columns)

0              id
1           title
2             url
3      num_points
4    num_comments
5          author
6      created_at
dtype: object

In [28]:
print('Index Counts is: ', len(df.index))
print('Column counts is: ', len(df.columns))

Index Counts is:  20099
Column counts is:  7

In [29]:
df.head()

,id,title,url,num_points,num_comments,author,created_at
0,12224879,Interactive Dynamic Video,http://www.interactivedynamicvideo.com/,386,52,ne0phyte,8/4/2016 11:52
1,11964716,Florida DJs May Face Felony for April Fools' W...,http://www.thewire.com/entertainment/2013/04/f...,2,1,vezycash,6/23/2016 22:20
2,11919867,Technology ventures: From Idea to Enterprise,https://www.amazon.com/Technology-Ventures-Ent...,3,1,hswarna,6/17/2016 0:01
3,10301696,Note by Note: The Making of Steinway L1037 (2007),http://www.nytimes.com/2007/11/07/movies/07ste...,8,2,walterbell,9/30/2015 4:12
4,10482257,Title II kills investment? Comcast and other I...,http://arstechnica.com/business/2015/10/comcas...,53,22,Deinos,10/31/2015 9:48

In [38]:
df[df['title'].str.contains('python')]

,id,title,url,num_points,num_comments,author,created_at
765,12117140,IronPython 3 (python for .net) development res...,https://www.reddit.com/r/Python/comments/4tbhw...,3,1,tanlermin,7/18/2016 18:34
6129,10512775,Learn data science in python by taking online ...,http://www.dezyre.com/data-science-in-python/36,1,1,shankar251289,11/5/2015 11:34
6711,11328646,"Show HN: Dplython, dplyr data manipulation for...",https://github.com/dodger487/dplython,11,1,capybara,3/21/2016 15:18
7979,10993953,Kickstarter for funding Micropython port to ES...,https://www.kickstarter.com/projects/214379695...,98,41,Sfabris,1/29/2016 7:16
13218,12095313,DQN for Beginners in 200 lines of python code ...,https://yanpanlau.github.io/2016/07/10/FlappyB...,5,1,yanpanlau,7/14/2016 16:40
13575,11269629,Show HN: Venv2docker create a docker image fr...,https://github.com/Markbnj/venv2docker,8,2,markbnj,3/11/2016 21:20
14004,12200724,EasyMake one python file instead tons of Make...,https://github.com/l4l/EasyMake,1,3,kitsu,8/1/2016 7:29
15784,11008512,let in python (2014),https://nvbn.github.io/2014/09/25/let-statemen...,1,2,hatmatrix,1/31/2016 22:43
16026,12238517,Ptpython better than ipython or bpython?,http://terriblecode.com/why-ptpython-is-the-on...,1,1,ausjke,8/6/2016 15:55
18421,12027874,Show HN: Stack overflow command line client ad...,https://github.com/gautamkrishnar/socli,1,1,gautamkrishnar,7/3/2016 22:12
18809,11191696,The origins of the class Meta idiom in python,http://mapleoin.github.io/perma/python-class-meta,6,1,mapleoin,2/28/2016 18:09
19356,10593520,Crypto and SSL toolkit for python (M2Crypto),https://gitlab.com/m2crypto/m2crypto,1,1,kevindeasis,11/19/2015 8:41

In [67]:
import re
def contain_python(text):
    text = text.lower()
    if re.search('python', text):
        return True
    return False

In [69]:
df[df['title'].apply(lambda x: contain_python(x))]

,id,title,url,num_points,num_comments,author,created_at
102,10974870,From Python to Lua: Why We Switched,https://www.distelli.com/blog/using-lua-for-ou...,243,188,chase202,1/26/2016 18:17
103,11244541,Ubuntu 16.04 LTS to Ship Without Python 2,http://news.softpedia.com/news/ubuntu-16-04-lt...,2,1,_snydly,3/8/2016 10:39
144,10963528,Create a GUI Application Using Qt and Python i...,http://digitalpeer.com/s/c63e,21,1,zoodle,1/24/2016 19:01
196,10716331,How I Solved GCHQ's Xmas Card with Python and ...,http://matthewearl.github.io/2015/12/10/gchq-x...,6,1,kipi,12/11/2015 10:38
436,11895088,"Unikernel Power Comes to Java, Node.js, Go, an...",http://www.infoworld.com/article/3082051/open-...,3,1,syslandscape,6/13/2016 16:23
...,...,...,...,...,...,...,...
19597,12061177,David Beazley Python Concurrency from the Gro...,https://www.youtube.com/watch?v=MCs5OvhV9S4,2,1,bakery2k,7/9/2016 13:05
19852,10988468,Ask HN: How to automate Python apps deployment?,NaN,4,18,aalhour,1/28/2016 14:55
19862,11738470,Moving Away from Python 2,https://asmeurer.github.io/blog/posts/moving-a...,227,275,ngoldbaum,5/20/2016 15:14
19980,12524656,Python vs. Julia Observations,https://medium.com/@Jernfrost/python-vs-julia-...,2,1,blacksmythe,9/18/2016 9:54
19998,11735438,Show HN: Decorating: Animated pulsed for your ...,https://github.com/ryukinix/decorating,3,1,lerax,5/20/2016 3:48

In [70]:
df.describe()

                 id    num_points  num_comments
count  2.009900e+04  20099.000000  20099.000000
mean   1.131755e+07     50.296632     24.803025
std    6.964531e+05    107.110322     56.108639
min    1.017691e+07      1.000000      1.000000
25%    1.070172e+07      3.000000      1.000000
50%    1.128452e+07      9.000000      3.000000
75%    1.192613e+07     54.000000     21.000000
max    1.257898e+07   2553.000000   1733.000000

In [72]:
def print_summary(title, value):
    print('-' * 80, title, '-' * 80, value, sep='\n')

def summarize_dataframe(frame):
    print_summary('Dataset Summary', frame.describe())
    print_summary('Null Values Count', frame.isnull().sum())

    for col in frame:
        print_summary(f'Unique values in column "{col}"', frame[col].unique())

In [73]:
summarize_dataframe(df)

--------------------------------------------------------------------------------
Dataset Summary
--------------------------------------------------------------------------------
                 id    num_points  num_comments
count  2.009900e+04  20099.000000  20099.000000
mean   1.131755e+07     50.296632     24.803025
std    6.964531e+05    107.110322     56.108639
min    1.017691e+07      1.000000      1.000000
25%    1.070172e+07      3.000000      1.000000
50%    1.128452e+07      9.000000      3.000000
75%    1.192613e+07     54.000000     21.000000
max    1.257898e+07   2553.000000   1733.000000
--------------------------------------------------------------------------------
Null Values Count
--------------------------------------------------------------------------------
id                 0
title              0
url             2440
num_points         0
num_comments       0
author             0
created_at         0
dtype: int64
--------------------------------------------------------------------------------
Unique values in column "id"
--------------------------------------------------------------------------------
[12224879 11964716 11919867 ... 10824382 10739875 11680777]
--------------------------------------------------------------------------------
Unique values in column "title"
--------------------------------------------------------------------------------
['Interactive Dynamic Video'
 "Florida DJs May Face Felony for April Fools' Water Joke"
 'Technology ventures: From Idea to Enterprise' ...
 "Microkernels are slow and Elvis didn't do no drugs"
 'How Product Hunt really works'
 'RoboBrowser: Your friendly neighborhood web scraper']
--------------------------------------------------------------------------------
Unique values in column "url"
--------------------------------------------------------------------------------
['http://www.interactivedynamicvideo.com/'
 'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/'
 'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429'
 ... 'http://blog.darknedgy.net/technology/2016/01/01/0/'
 'https://medium.com/@benjiwheeler/how-product-hunt-really-works-d8fdcda1da74'
 'https://github.com/jmcarp/robobrowser']
--------------------------------------------------------------------------------
Unique values in column "num_points"
--------------------------------------------------------------------------------
[ 386    2    3    8   53   34   91   18   26   59    7    1   28  109
   68   11  170   15  115  234    4   61  211   51   22  747    5  171
  755   38   54  296   29   19  244   63   60   36   73  133  226    6
    9  162   25  110  130  222   33   85  243  131   27  142  149   42
   64   30   13   72  114   16   21   43   47   71  586   49   17   12
   52  255   55  180  137  107   32   65   74   41   78   20  233   96
  128  108  160  207   95  292   75   10  210   48   67  151 1005   57
  910   39   66   40   46  196  188   50  304  119   97   23  138  381
   87   69   37  294  187  153  220   35   62   94  127  492   14  428
  100  121   99  389  146   44  401  102  172  248  350  216  169  437
  182  103  390  322   56 1851   82  218   88   77  327  106  123  143
  357  154   31  351   98  245   76 1260  156  431  166   24  158  152
  375  181   92  420  371  250  413  189  174  105  258  249  140   79
   45  120  333  212  134  155   83   90  125  163   93  391  627   58
  139  202  259  129  141  150   80  145  124  135  477  147  349 1207
  228  183  400  581  194  434  111  238  406   70  126  344  715  224
  217  117  144  385  132  177   89  267  384  208  405  231  841  323
  198  667  118  176  324  205  175   81  902  377  113  718  281  593
   84  241  286  329  206  200  726  264 1055  168  538  185  404  268
  265  525  190  530  679  285  101  332  280  112  203  287  290  240
  229  278   86  407  367  167  242  340  230  272  321  164  214  345
  736  697  325  236  301  148  173  193  191  302  421  275  276  451
  355  184  104  256  227  617  165  443  305  291  661  136 1302  444
  253  262  336  318  399  342  473  157  403  122  509  442  199  339
  159  500  215  161  260  432  219  666  221  315  186  251  584  460
  548  621  279  266  397  116  317  269  502  803  288  365 1030  246
  343  274  379  179  378  237  480 1106  773  383  232  556  178  470
  380 1195  620  636  665  239  521  616  307  271  254  299  312  713
  261  201 1323  195  297  359  247  582  450  580  341  352  298  490
  213  471  549  360  852  358  328  337  370  485  338  223  192  368
  454  362  354  474  225  295  427  599  429  252 1043  857  263  515
  356  366  197  416 1395  971  289  335  577  445  484  790  943  479
  823  683  257  957  497  704  316  875 1104  319  462  430  348  209
  309 1141  542  303  425  496  550  488 1238  830  283  504  363  320
  204  417 1187  761 2381  624 1107  411  763  284 1573  376  708  606
  825  905 1284  572  499  300 1562  270  459 1622  476  423  308  469
  418  361  402  438  313  562  770  452  491  799  282  314  235  392
  537  645  784  387  653  592  494  517  756  419  574  465  672  478
  626  534  408  326  482  591  832  647  273  441 1447  447  493  671
  664  374 2553 1213  874  468  353  518  694  804  787  396  448  331
  944  461  424  513  644  435  701  623  691  545  373  816  414  422
  433  439  590  544  330  958 1368  557  730  648 1304  388  449  311
  855 1020  547  686  596 1559  629  553  676  501  649  563  833  658
  457  888  657  772  505  310 1565  681  508  731  865  561  486 1282
  868  346  639  641  398  510  695]
--------------------------------------------------------------------------------
Unique values in column "num_comments"
--------------------------------------------------------------------------------
[  52    1    2   22    4    6    7   10   14   18    5   29  116   13
  112  106  100    3   17   63   67   26   12  102   73  346  213   15
  172   45   20  253  160   56   39   53  211   36    9   51    8  188
  145   46   32   71   68   41   59  133   54   11   94   83  136   64
  169  162   21   25   42   84   92   50   57  147   44  194   23   58
  135   69  195  246   99   76   40  275  152   24  143   48  180   62
   49  117  170   33   37  199   86   19   75  201   34  155   27  120
   74  202  165   43  157   38  182   82  218  228  124   65   31  677
  274   72   16  244  168  134   80  140  243   87   47   60   96   97
   30  311  121   93  176  212  103  453  189  137  175  139  132  249
  126  130   66   90  111   35   28  234  118  432  381   55   85  127
  123   61  388  359  110  326  173  113   77  158  109  502  452   70
  185   91  245  142  277  184  317  241  261  197  141  154  491  204
  516  429  250  229  262  171  220  281   79  232  222  138  206  164
   88  119  239  316  260  237  166  105  318   89  186  200   81  108
  384  107  178  214  301  397   78  125  151  144  303  282  254   98
  266  183  192  114  115  278  146  131  187  148  129  149  569  248
  309  486  193  159  104  122  439  101  242  283  191  298   95  259
  379  330  760  351  304  910  400  333  225  167  335  302  177  521
  386  174  216  268  233  270  323  376  181  227  320  387  327  315
  247  128  153  205  514  312  449  430  306  236  196  368  448  223
  457  340  519  276  279  345  420  520  150  230  644  295  513  267
  163  477  207  370  322  321  219  226  273  424  313  377  451  156
  495  339  290  360  209  251  224  179  289  263  198  203  280  431
  269  348  190  238  314  383  419  392  252  342  271 1733  210  398
  161  947  221  499  240  781  691  272  389  405  425  231  299  475
  624  361  208  372  599  428  332  294  464  547  705  401  515  552
  437  215  344  412  503  426  868  413  356  264  809  331]
--------------------------------------------------------------------------------
Unique values in column "author"
--------------------------------------------------------------------------------
['ne0phyte' 'vezycash' 'hswarna' ... 'mynameisvlad' 'zreitano' 'brw12']
--------------------------------------------------------------------------------
Unique values in column "created_at"
--------------------------------------------------------------------------------
['8/4/2016 11:52' '6/23/2016 22:20' '6/17/2016 0:01' ... '1/2/2016 0:49'
 '12/15/2015 19:32' '5/12/2016 1:43']